.step {
  min-width: 0;
  width: 100%;
  max-width: 500px;

  progress {
    width: 100%;
  }

  pre {
    max-width: 100%;
    max-height: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: hidden;
  }

  video {
    max-width: 100%;
  }
}

.settings {
  margin-bottom: 1rem;
}

.settings > div {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.settings > div > span {
  display: inline-block;
  min-width: 5rem;
}

.settings input[type="number"],
.settings input[type="range"] {
  margin: 0 0.25rem;
}

.sliderContainer {
  min-width: 120px;
  flex: 1;
}

.info,
.actions {
  margin-bottom: 0.25rem;
}

.actions {
  display: flex;
  align-items: center;
}
